 /* Бічна панель */
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111ef;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #D16868;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* КНопка "Більше" */
.menu-btn {
    font-size: 30px;
    cursor: pointer;
    color: #818181;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 0;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px; 
    height: auto;
}

/* Титулка */
body {
    background-color: #181818;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./Pictures/Background.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 100vw; 
    height: 100vh; 
}

.centered-container {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 40%;
    left: 20%;
    align-items: start; 
    width: 34%;
    height: 10vh; 
    color: #fff;
    box-sizing: border-box; 
}

.centered-container p {
    font-size: 0.9rem;
    font-family: 'Montserrat', serif;
}

.centered-container h1 {
    font-size: 4rem;
    font-family: 'Noto Serif', bold; 
}

.centered-container q {
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Noto Serif', serif; 
}

.note {
    display: flex;
    position: relative; 
    background-image: url("./Pictures/note.png");
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 50vw; 
    height: 100vh; 
    overflow: visible; 
}

.note::after {
    content: "";
    position: absolute;
    bottom: -60px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-image: url("./Pictures/Bar-spoon.png");
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    width: 100px; 
    height: 220px;
    z-index: 4; 
}

.vector {
    display: flex;
    position: absolute;
    background-image: url("./Pictures/Vect.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 80vw;
    height: 80vh; 
    right: 20%;
    top: 17%;
}

.ell {
    display: flex;
    position: absolute;
    background-image: url("./Pictures/Ell.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    width: 40vw; 
    height: 40vh; 
    left: 50.3%;
    bottom: 61.3%;
}

.btn-custom {
    background-color: transparent; 
    border: 2px solid white; 
    color: white; 
    transition: all 0.3s ease;
    position: absolute;
    bottom: 5%;
    z-index: 20;
}

.btn-custom:hover {
    background-color: white; 
    color: black; 
}

/* Медіа-запити для зменшення розміру зображень і тексту */
@media (max-width: 700px) {
    .vector {
        width: 60vw; 
        height: 60vh; 
        right: 10%; 
        top: 10%; 
    }

    .ell {
        width: 30vw; 
        height: 30vh; 
        left: 55%;
        bottom: 50%;
    }

    .centered-container p {
        font-size: 0.8rem; 
    }

    .centered-container h1 {
        font-size: 3rem;
    }

    .centered-container q {
        font-size: 0.6rem; 
    }
}


/* Вступні слова */
.anotation {
    background-image: url("./Pictures/A.png"), url("./Pictures/charlotte.png");
    background-repeat: no-repeat;
    background-position: left, center calc(50% - 100px); 
    background-size: contain, auto;
    width: 100vw; 
    height: 100vh;
    overflow: visible;
    position: relative;
    z-index: 3;
}

.anotation p {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    position: absolute;
    text-align: justify;
    top: 40%;
    left: 20%;
    align-items: start;
    width: 55%; 
}

.anotation .describtion{
    font-size: 13px;
    font-family: 'Montserrat', serif;
    color: #fff;
    position: absolute;
    text-align: justify;
    top: 75%;
    width: 40%;
}

/* Медіа-запит для зменшення розміру тексту */
@media (max-width: 1250px) {
    .anotation p {
        font-size: 24px; 
    }

    .anotation .describtion {
        font-size: 11px;
    }
}

@media (max-width: 850px) {
    .anotation {
        background-image: url("./Pictures/charlotte.png"); 
        background-position: center calc(50% - 100px); 
    }

    .anotation p {
        font-size: 18px; 
    }

    .anotation .describtion {
        font-size: 10px; 
    }
}

/* Робочі години*/
.opening {
    background-image: url("./Pictures/O.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative; 
    background-color: #181818; 
    width: 100vw; 
    height: 150vh; 
    margin: 0;
    padding-top: 450px;
    z-index: 2;
}

.opening::before,
.opening::after {
    content: "";
    position: absolute;
    width: auto; 
    height: auto; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top; 
    z-index: 0; 
}

.opening::before {
    background-image: url("./Pictures/cottonbro.png");
    top: 0;
    left: 0;
    width: 50%;
    height: 100%; 
}

.opening::after {
    background-image: url("./Pictures/4.png");
    top: 0;
    right: 0;
    width: 50%; 
    height: 100%; 
}

.card {
    background-color: transparent; 
    border: none; 
    width: 60%;
}

.list-group-item {
    border: 7px dashed #ffffff; 
    background-color: transparent; 
    color: #fff; 
    border-width: 8px; 
    border-style: dashed; 
    border-color: #ffffff; 
    padding: 15px;
    position: relative;
}

.list-group-item:not(:last-child) {
    margin-bottom: 1px;
}

.card-title {
    margin: 40px;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    color: #D16868;
}

@media (max-width: 1200px) {
    .opening::before,
    .opening::after {
        width: 100%; 
        height: 50%; 
        top: 0; 
        right: 0;
        left: 0; 
    }

    .opening::before {
        background-image: url("./Pictures/cottonbro.png");
        top: 0;
    }

    .opening::after {
        background-image: url("./Pictures/4.png");
        top: 50%; 
    }
}

/* Карусель */
.carousel {
    width: 30vw; 
    margin: 0 auto; 
}

.carousel-inner {
    height: 700px; 
}

.carousel-inner img {
    width: 90%;
    height: 90%;
    object-fit: cover; 
    object-position: center;
}

.carousel-inner img.coctail {
    object-fit: none; 
}

.carousel-caption {
    position: absolute; 
    bottom: -40px;
    left: 20px; 
    right: 20px; 
    background: rgba(0, 0, 0, 0.6); 
    color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: left; 
}

.carousel-caption h5 {
    font-size: 2rem; 
    margin-bottom: 10px; 
    color: #fff;
}

.carousel-caption p {
    font-size: 1.25rem; 
    line-height: 1.5; 
    color: #fff;
}

.carousel-item a.btn-primary {
    display: block; 
    width: calc(100% - 50px); 
    height: 100%; 
    background-color: black; 
    color: #D16868;
    text-align: center; 
    line-height: 500px;
    font-size: 2rem;
    text-decoration: none; 
    margin-left: 50px; 
    border: none; 
    outline: none; 
    box-shadow: none; 
}

.carousel-item a.btn-primary:hover {
    background-color: #333; 
    color: #D16868; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-color: #fff; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 60px; 
    background-color: transparent; 
    border: none; 
    outline: none; 
}

.menu {
    position: relative;
    background-image: url("./Pictures/Vect.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; 
    background-repeat: inherit;
    background-position: inherit;
    background-size: inherit;
    transform: scaleY(-1); 
    z-index: -1; 
}

.menu h2 {
    display: flex;
    font-size: 50px;
    font-style: italic;
    font-family: 'Noto Serif', serif;
    color: #D16868;
    font-weight: bold;
    position: relative;
    justify-content: center;
}

/* Бронювання столика*/
.booking {
    background-image: url("./Pictures/B.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; 
}

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px; 
    box-sizing: border-box;
}

.form-container h2 {
    color: #D16868;
}

.form-control {
    background-color: transparent !important; 
    border: none; 
    border-top: 1px solid #ced4da; 
    border-bottom: 1px solid #ced4da;
    color: #fff; 
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

.form-label {
    color: #fff; 
}

.btn-primary {
    background-color: transparent; 
    border: 1px solid #fff;
    color: #fff; 
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: #fff; 
}

.flatpickr-calendar {
    background-color: transparent !important; 
    color: #fff !important; 
    border: none !important; 
    border-top: 1px solid #ced4da !important; 
    border-bottom: 1px solid #ced4da !important; 
}

.flatpickr-day {
    color: #fff !important;
}

.flatpickr-day.selected, 
.flatpickr-day:hover {
    background-color: #007bff !important;
    color: #fff !important;
}

.flatpickr-month {
    color: #D16868 !important; 
}

.flatpickr-weekday {
    color: #fff !important; 
}

.flatpickr-prev-month, 
.flatpickr-next-month {
    color: #fff !important; 
}

/* Медіа-запити для адаптації форми */
@media (max-width: 768px) {
    .form-container {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .form-container {
        width: 100%; 
        padding: 10px;
        margin-left: 0;
    }
}

/* Наші контакти*/
.contact {
    display: flex;
    flex-direction: column; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    gap: 1rem; 
    color: #fff;
    font-family: 'Montserrat', serif;
}

.contact h3 {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    color: #D16868;
    font-weight: bold;
}

.contact h6 {
    font-size: 10px;
    font-family: 'Montserrat', serif;
}

footer {
    position: relative;
    background-image: url("./Pictures/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.footer-logo {
    max-width: 100%; 
    height: auto; 
}

footer p {
    color: #fff; 
    margin: 0;
    text-align: center; 
    width: 50%;
}

